
body {
    background-color: #081938;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    margin:15px;
}

#submit {
    margin:15px;
    background-color: #002261;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: medium;
}

#form {
    color: #ffffff;
    margin:15px;
}

#list{
    place-items: center;
}

.card {
    font-weight: 100;
    width: 80%;
    height: 200px;
    background-color: #132952;
    margin: 40px;
    display: flex;
    position: relative;
}

#error {
    font-weight: 600;
    color: #920000;
}

#close {
    background-color: #002261;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: medium;
    max-height: 30px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#color{
    width: 150px;
    height: 100%;
}